header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:center;
    width: 100%;
}

.select{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color:$btn-bg;
    width: 100%;

    


}

.position{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    
    & p{
        font-size: 12px;
        margin-right: em(25,12);
    }
}
.nazov{
    color: $btn-bg;
    font-size: 25px;
    align-self: end;
}
.volba_temy_wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volba_temy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    font-size: 12px;
    width: 100%;
    
    
    

    li{
        padding:0;
        
    }
}




.button{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-items: center;
    width: 110%;
    height: em(25,32);
    background-color: $keypad-bg;
    border-radius: em(15,32);
}

.slider1,
.slider2,
.slider3{
    border: 1px solid $return-shadow;
    width: em(12,25);
    display: inline-block;
    height: em(12,25);
    border-radius: 50%;
    margin-left: em(3,25);
    background-color: $return-bg;
    opacity: 0;

    &.active{
        opacity: 1;
    }

}
