/*mixin to prepare variable into style.css = in style.scss you need to include :
class{
@include cssvars((
        nameofvar:value,
        ));
        */
.theme1 {
  --pf-primary-bg: #3a4764;
  --pf-keypad-bg: #232c43;
  --pf-screen-bg: #182034;
  --pf-res-bg: #637097;
  --pf-res-shadow: #404e72;
  --pf-return-bg: #d03f2f;
  --pf-return-shadow: #93261a;
  --pf-btn-bg: #eae3dc;
  --pf-btn-shadow: #b4a597;
  --pf-text-dark: #444b5a;
  --pf-text-white: white;
}

.theme2 {
  --pf-primary-bg: #e6e6e6;
  --pf-keypad-bg: #d1cccc;
  --pf-screen-bg: #ededed;
  --pf-res-bg: #377f86;
  --pf-res-shadow: #1b5f65;
  --pf-return-bg: #ca5502;
  --pf-return-shadow: #893901;
  --pf-btn-bg: #e5e4e1;
  --pf-btn-shadow: #a69d91;
  --pf-text-dark: #35352c;
  --pf-text-white: #35352c;
}

.theme3 {
  --pf-primary-bg: #160628;
  --pf-keypad-bg: #1d0934;
  --pf-screen-bg: #30174a;
  --pf-res-bg: #58077d;
  --pf-res-shadow: #bc15f4;
  --pf-return-bg: #00e0d1;
  --pf-return-shadow: #6cf9f2;
  --pf-btn-bg: #341c4f;
  --pf-btn-shadow: #871c9c;
  --pf-text-dark: #ffe53d;
  --pf-text-white: #ffe53d;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: var(--pf-text-white);
  width: 100%;
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.position p {
  font-size: 12px;
  margin-right: 2.08333em;
}

.nazov {
  color: var(--pf-text-white);
  font-size: 25px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.volba_temy_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volba_temy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
  font-size: 12px;
  width: 100%;
}

.volba_temy li {
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 110%;
  height: 0.78125em;
  background-color: var(--pf-keypad-bg);
  border-radius: 0.46875em;
}

.slider1,
.slider2,
.slider3 {
  border: 1px solid var(--pf-return-shadow);
  width: 0.48em;
  display: inline-block;
  height: 0.48em;
  border-radius: 50%;
  margin-left: 0.12em;
  background-color: var(--pf-return-bg);
  opacity: 0;
}

.slider1.active,
.slider2.active,
.slider3.active {
  opacity: 1;
}

html {
  background-color: var(--pf-primary-bg);
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  font-family: 'Spartan',sans-serif;
  font-weight: 700;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  min-width: 14.0625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator {
  padding: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: var(--pf-keypad-bg);
  border-radius: 0.3125em;
  margin-bottom: 1.5625em;
  color: var(--pf-text-dark);
}

.buttons_primary {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  row-gap: 0.46875em;
  direction: column-reverse;
  height: 100%;
  width: 100%;
  justify-items: center;
  padding: 0.3125em;
  border-radius: 0.46875em;
}

.buttons_secondary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  list-style: none;
  justify-items: center;
  width: 100%;
}

.primary_btn {
  background-color: var(--pf-btn-bg);
  text-align: center;
  width: 90%;
  padding: 0.25em;
  border-radius: 0.3125em;
  border-bottom: 0.125em solid var(--pf-btn-shadow);
}

.primary_btn.reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  width: 90%;
  color: var(--pf-text-white);
  background-color: var(--pf-res-bg);
  font-size: 22px;
  padding: 0.68182em 0;
  border-bottom: 0.16em solid var(--pf-res-shadow);
}

.primary_btn.return {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  width: 90%;
  font-size: 22px;
  padding: 0.68182em 0;
  color: var(--pf-text-white);
  background-color: var(--pf-return-bg);
  border-bottom: 0.16em solid var(--pf-return-shadow);
}

.primary_btn.del {
  color: var(--pf-text-white);
  background-color: var(--pf-res-bg);
  font-size: 22px;
  width: 90%;
  padding: 0.68182em 0;
  border-bottom: 0.16em solid var(--pf-res-shadow);
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 0.26316em;
  height: 3.15789em;
  background-color: var(--pf-screen-bg);
  margin: 0.65789em 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pf-text-white);
  font-size: 38px;
}

.result p {
  margin-right: 0.76316em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 560px) {
  .wrapper {
    min-width: 11.875em;
  }
}

@media (max-width: 432px) {
  .wrapper {
    min-width: 10.71429em;
    font-size: 28px;
  }
  .result {
    font-size: 30px;
  }
  .primary_btn.del, .primary_btn.reset, .primary_btn.return {
    font-size: 20px;
  }
}

@media (max-width: 330px) {
  .wrapper {
    min-width: 10em;
    font-size: 26px;
  }
  .result {
    font-size: 28px;
  }
  .primary_btn.del, .primary_btn.reset, .primary_btn.return {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */